 <!-- Jmol functionality from http://chemapps.stolaf.edu/jmol/jmol.php
 This pages feeds into the Mainpage using 'include'-->
 {% load static %}

<!-- function to show blanks, users PDB+.dat, or PDB and userLL -->
<br>
<h3>Jmol Display</h3>
<table border="1" cellpadding="5"><tbody><tr>
    <!-- loop through loaded data dict -->
    {% for key, value in resultsHTML.items %}{% csrf_token %}
        <!-- user has PDB: display, otherwise blank -->
        {% if key == 'PDB' and value != 'none chosen' %}
            <td>
                <script type="text/javascript">
					jmolApplet = Jmol.getApplet("jmolApplet", Info)
					Jmol.script(jmolApplet, 'load "/home/stephen/Project/trydjango/static_in_pro/media_root/Storage/SSS/12/{{RUN99_1QL1_monomer_YS3g5nY_0001.pdb}}"; anim mode palindrome 2 2; anim on; slab off; spin off; wireframe off; spacefill off; trace off; set ambient 40; set specpower 40; slab off; ribbons on; color structure');
				</script> 
					
            </td>
            <!--<td>
                <img src="{% static 'images/bunny.jpg' %}" alt = "newfig" style="width:600px;height:600px;">
            </td> -->
        {% endif %}
    {% endfor %}
</tr></tbody></table>

<br>
<h3>Layerlines</h3>
<table border="1" cellpadding="5"><tbody><tr>
    <!-- loop through loaded data dict -->
    {% for key, value in resultsHTML.items %}{% csrf_token %}
        <!-- user has PDB: display, otherwise blank -->
        {% if key == 'PDB' and value != 'none chosen' %}
            <td>
                <img src="{% static 'images/UserLL.png' %}" alt = "user LL image" style="width:1100px;height:2400px;">
            </td>
        {% endif %}
    {% endfor %}
</tr></tbody></table>

