<!-- About page -->
<!-- extends format (navbar, jumbotron, content block) and statics from base.html -->
{% extends "base.html" %}
{% load static %}
{% block jumbotron_content %}
<div class="jumbotron">
   <div class="row">
      <h1>About</h1>
      <div>
         <p> A little about the project, developers, Lund University and a little about fibrils.</p>
      </div>
   </div>
</div>
{% endblock %}
{% block content %}
<div>
   <div class="page-header">
      <h1>The project</h1>
   </div>
   <div class="row">
      <div class="col-md-12">
         <p style="font-size:150%">FibSim is the product of a 30 credit Masters Student project in Bioinformatics from Lund University, Lund, Sweden, carried out in the Fall of 2015.  The goal was to provide a web server for Potrzebowski & André’s fibril assembly simulation (Nature Methods 40, 2015, pp. 679-684).    The project utilized the Django web framework with Bootstrap and CrispyForms, and included a SQLite database. The server is based in the Department of Biochemistry, Lund University under the supervision of the André lab.</p>
      </div>
   </div>
</div>
<br>
<div>
   <div class="page-header">
      <h1>André Lab</h1>
   </div>
   <div class="row">
      <div class="col-lg-5 pull-left'">
         <p style="font-size:150%">The André Lab is part of the Center for Molecular Protein Science, CMPS, at the Department of Biochemistry, Lund University, Lund, Sweden.  Their primary research focuses on non-covalent interactions of protein folding and oligomerization, including fibrillar assembly.  A detailed description of the people and the lab can be found <a href="http://www.cmps.lu.se/biostruct/people/ingemar-andre/andre-group-research/">here.</a></p>
      </div>
      <div class="col-lg-6 pull-right'">
         <img src="{% static 'images/Andregroup.png' %}" alt = "Andre group" style="width:450px;height:250px;">
         <p style="font-size:90%">Image Source:&nbsp;&nbsp;<a href="http://www.cmps.lu.se/biostruct/people/ingemar_andre/andre_group_research">André Lab</a> </p>
      </div>
   </div>
</div>
<br>
<br>
<div>
   <div class="page-header">
      <h1>Lund University</h1>
   </div>
   <div class="row">
      <div class="col-lg-5 pull-left'">
         <p style="font-size:150%"><a href="http://www.lunduniversity.lu.se/">Lund University </a>is one of Europe’s oldest universities and has approximately 45,000 current students. It is considered in the top 100 list of the world’s academic institutions and is located in Lund, Sweden. </p>
      </div>
      <div class="col-lg-6 pull-right'">
         <img src="{% static 'images/LundUniversity.jpg' %}" alt = "Lund Univeristy" style="width:450px;height:250px;">
         <p style="font-size:90%">Image Source:&nbsp;&nbsp;<a href="http://ud2014.se/venue/lund-university/">ud2014.se</a> </p>
      </div>
   </div>
</div>
<br>
<div>
   <div class="page-header">
      <h1>A little about fibrils</h1>
   </div>
   <div class="row">
      <div class="col-md-12">
         <p style="font-size:150%">Fibrillar proteins are a group of macromolecules with a set of unique properties that are exploited by cells and viruses for a variety of specific functions.   They have helical symmetry, are composed of smaller subunits, linear, capable of self-assembly and, as their name suggests, are fiber-like structures. Fibrils do not readily form crystals, which excludes their study using x-ray crystallography, but their 3D structure can be elucidated using X-ray fiber diffraction. Since fibrils have helical symmetry and are often made of identical or similar subunits, fibrillar structure lends itself to computational analysis.  </p>
      </div>
   </div>
</div>
<br>
<br>
{% endblock %}