{% extends "base.html" %}
{% load staticfiles %}
{% load crispy_forms_tags %}

{% block content %}
    <div class='row'>
    <div class="col-lg-6 col-lg-6">
         <h1>About</h1>
            <p> The Fibrillar Assembly Tool was made by.... The program.......</p>
            <p> Lunds Universitet is .......</p>
            <p> I am..........</p>
        </div>
</div>


<!-- Javascript call test-->
<button onClick="alert('You clicked the button using Javascript.');">
       Click Me - I run Javascript
</button>

<!-- JQuery call test -->
<button id="about-btn"> Click Me - I'm Javascript on Speed</button>


{% endblock %}
