<!-- This is where all static_root js files are loaded for the project -->
<!--Just remember to manage.py collectstatic if you make changes to any our_static files-->
{% load staticfiles %}


<!-- Core JavaScript-->
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/ie10-viewport-bug-workaround.js' %}"></script>

<script src="{% static 'js/jquery.js' %}"></script>
<!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>-->


<!--Mycode
<script src="{% static 'js/custom.js' %}"></script>-->

<!--slider-->


