<!-- This is where all static_root CSS files are loaded for the project -->
<!--Just remember to manage.py collectstatic if you make changes to any our_static files-->
{% load staticfiles %}


<!--Core CSS-->
<link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
<link href= "{% static 'css/navbar-static-top.css' %}" rel="stylesheet">

<!-- custom CSS -->
<link href="{% static 'css/custom.css' %}" rel="stylesheet">

<!-- from http://labs.abeautifulsite.net/jquery-dropdown/
<link href=" % static 'jquery.dropdown.min.css' %}" rel="stylesheet">-->