<!-- Base.html is the skeleton for every web page here.  Takes in via 'includes' all CSS and JS and provides basic format:
in this case the navbar, one jumbotron block and a content block -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="Base Html applies to all pages">
    <meta name="author" content="Steve B">
    <link rel="icon" href="../../favicon.ico">

    <title>Base Html</title>

<!-- Load Project's CSS -->
{% include 'All_css.html' %}

  </head>


  <body>
  <!-- Load Project's navbar here -->
    {% include 'navbar.html' %}

    <div class="container">

        {% block jumbotron_content %}
        {% endblock %}

        {% block content %}
        {% endblock %}
    </div>

    <!--Load project's javascript and JQuery-->
   {% include 'All_javascript.html' %}

  </body>

<!-- footer --->

</html>