{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load staticfiles %}

<style>
    {% block style %}
    .txt-align-center {
    text-align: center;
    }
    {% endblock %}
</style>


{% block jumbotron_content %}
      <div class="jumbotron">
        <div class="row">
         <h1>Fibrillar Assembly Tool</h1>
        <div class="col-md-8">

        <p>FAT allows users to carry out a fibrillar assembly comparison of atomic models with fiber diffraction data. Users provide data in the form of a PDB file and in return receive a layline, Jmol and fibrillar score.             The program takes a few minutes to run. Users provide an email to receive results.
        </p>
            <p>
          <a class="btn btn-lg btn-primary" role="button">See an example &raquo;</a>
        </p>
      </div>
      <div class='col-sm-4'>
          <iframe width="350" height="200" src="https://www.youtube.com/embed/Ru3Tol2NvVg" frameborder="0" allowfullscreen></iframe>
      </div>
    </div>
    </div>
{% endblock %}


{% block content %}

    <div>
     <div class="page-header">
     <h1>The tool</h1>
        </div>


    <div class="row">
        <div class="col-md-12">
            <p style="font-size:150%"> This site allows for the comparison of atomic models with you fiber diffraction data. A fibrillar assembly will be constructed based on helical parameters provided by user and subsequently fiber diffraction data will be simulated. The simulated results is compared in quantitative and qualitative manner.  We provide users with the ability for manipulating helical parameters of fibril as well as accuracy of simulated spectra. The takes a few minutes and provides the user with a LayLines graph, Jmol output and relative score. Results can be viewed online, or sent to your email address.



            </p>
        </div>
       <!--<div class="col-md-3 pull-right">
            <h1>{{ title }}</h1>
             <form method = 'POST' action =''> {% csrf_token %}
                {{ form|crispy }}
                <input class='btn-primary' type= 'submit' value = 'Submit' />
            </form>
        </div>-->
    </div>
{% endblock %}