{% load staticfiles %}

<!-- Bootstrap core JavaScript-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/ie10-viewport-bug-workaround.js' %}"></script>
<script src="{% static  'js/jquery.js' %}"></script>

<!--Mycode-->
<script src="{% static 'js/MyJS.js' %}"></script>

<!-- jmol slider -- http://www.jqueryrain.com/?LgYVKmg5 -->
<script src="{% static 'js/jquery.range.js' %}"></script>