{% extends "base.html" %}
{% load staticfiles %}
{% load crispy_forms_tags %}



<style>
    {% block style %}
    .txt-align-center {
    text-align: center;
    }
    {% endblock %}
</style>

{% block jumbotron_content %}
    <h1>Fibrillar Analysis Tool</h1>
          <div class="jumbotron">
            <div class="row">
             <div class="col-md-6">
             <h2>Directions</h2>
                 <br>
            <li>RETRIEVE a PDB, either locally or get it from the RCSB Protein Data Bank. </li>
            <li>SUBMIT and wait. This will take a few minutes.</li>
            <li>Examine the results.</li>
            <li>Use the slider to adjust the parameter and then RERUN the query.</li>
            <li>Hit SAVE to send your results to your Email address.</li>
            <li>Hit CLEAR to start over with a new file.</li>

          </div>
          <div class='col-sm-4 pull-right'>
              <h2>Retrieve your PDB</h2>
              <table border="0" width="80%">
              <tbody>
              <p>Download from RCSB:</p>
              <tr>
                <td>PDB ID: <input type="text" name="fromRCSB" size="7" maxlength="10"></td>
                <td><input type="submit" name="cmd" value="Download"></td>
              </tr>
               </tbody>
                </table>
              <br>

              <body>
               <p class="big">Or</p>
              </body>
              <br>

              <table border="0" width="100%">
                  <tbody>
               <p>Upload a local file:</p>
              <tr>
                <td><input type="file" name="upload"></td>
              </tr>
              </tbody>
              </table>
              <p>__________________</p>
              <table border="0" width="80%">
              <tbody>
              <p>File Selected:</p>
              <tr>
                <td><input type="text" name="fileSelected" size="7" maxlength="15"></td>
              </tr>
               </tbody>
                </table>

          </div>
        </div>
        </div>
{% endblock %}


{% block content %}

    <div class="row">
    <div class="col-md-6">
        <h2>Parameters</h2>
           <table border="0" width="80%">
          <tbody>
          <p>Select Turns, Units and Rise:</p>
          <tr>
            <td>Turns: <input type="text" name="turns" size="7" maxlength="10"></td>
          </tr>
          <tr>
            <td>Units: <input type="text" name="units" size="7" maxlength="10"></td>
          </tr>
          <tr>
            <td>Rise: <input type="text" name="rise" size="7" maxlength="10"></td>
          </tr>

           </tbody>
               </table>

    </div>


        <div class='col-sm-4 pull-right'>
          <h2>Run Analysis</h2>


            <button type="Submit" class = 'btn btn-default'>Run</button>
            <button type="Submit" class = 'btn btn-default'>Save</button>
            <button type="Submit" class = 'btn btn-default'>Clear</button>

            </div>
    </div>


<div class='col-sm-5'>
  <H1>LayLines Output</H1>
    <textarea rows="40" cols="75" placeholder="Laylines code..."></textarea>
</div>
 <div class="col-md-5 pull-right">
     <H1>Jmol Output</H1>
    <textarea rows="40" cols="75" placeholder="Jmol code..."></textarea>
 </div>

  <!-- JQuery call test -->
<button id="about-btn"> Click Me - I'm Javascript on Speed</button>

{% endblock %}