<!-- Server page; gets basic format (navbar, jumbotron, content block) and statics from base.html
Also 'includes' jmol functionality from jmol.html-->
{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block jumbotron_content %}
<div class="jumbotron">
<div class="row">
<h1>Fibrillar Assembly Server</h1>
<div class="col-md-12">
<p>This is the MainPage for running the analysis. Provide a PDB file, set the parameters and run the program. In return you receive a layerline plot, Jmol plot and a fibrillar score. The program takes a few minutes to run. Users can receive results via Email. See the example run on the HomePage, watch the video, or contact us if you have any questions.
</p>
</div>
</div>
</div>
{% endblock %}

{% block content %}

<div class="page-header">
<h1>Directions</h1>
</div>
<div class="container">
<div class="row">

<div class="col-md-12">
<p style="font-size:120%">FETCH a PDB from the RCSB Protein Data Ban, or UPLOAD it locally. </p>
<p style="font-size:120%">Optionally UPLOAD experimental Layer Lines data. </p>
<p style="font-size:120%">Select PARAMETERS, optional ADDITIONAL PARAMETERS, hit RUN and wait. This will take a few minutes.</p>
<p style="font-size:120%">Examine the results.</p>
<p style="font-size:120%">Adjust and carry out the the query again if you like.</p>
<p style="font-size:120%">ReRun any old results by entering the run number.</p>
<p style="font-size:120%">Save by DOWNLOAD RESULTS or EMAIL RESULTS.</p>
<p style="font-size:120%">Press CLEAR to start over.</p>

</div>

</div>
</div>

<br><br><br>
<div class="page-header">
<h1>Getting ready</h1>
</div>
<div class="container">
<div class="row">

<div  class='col-lg-3 pull-left'>
<h4>Fetch a PDB from RCSB</h4>             <!--url "urlPDBdown" points to name (3rd parameter) in url.py -->
<form action="{% url "urlPDBdown" %}" method="post" class="uniForm">{% csrf_token %}
{{ PDBdownHTML|crispy }}
<input type="hidden" name = "username" value = "{{ user.get_username }}">
<input type="submit" class="btn btn-primary" value="Fetch">
</form>
<br>
<br>
<h3>Or</h3>
<br>

<h4>Upload a PDB </h4>

<form id = "noRefresh" action="{% url "urlPDBup" %}" method="post" enctype="multipart/form-data">{% csrf_token %}
{{ PDBupHTML|crispy }}
<input type="hidden" name = "username" value = "{{ user.get_username }}">
<input type="submit" class="btn btn-primary" value="Upload">
</form>
</div>

<div  class='col-lg-3'>
<h4>Upload optional</h4>
<h4>experimental LayerLines</h4>
<form id = "noRefresh" action="{% url "urlEXP" %}" method="post" enctype="multipart/form-data">{% csrf_token %}
{{ EXPHTML|crispy }}
<input type="hidden" name = "username" value = "{{ user.get_username }}">
<input type="submit" class="btn btn-primary" value="Upload">
</form>
</div>


<div class='col-lg-3'>
<h4>Set Rosetta Parameters</h4>
<form action="{% url "urlParameters" %}" method="post">{% csrf_token %}
{{ ParaHTML|crispy }}
<input type="hidden" name = "username" value = "{{ user.get_username }}">
<input type="submit" class="btn btn-primary" value="Set">
</form>
    </div>


<div class='col-lg-3 pull-right'>
<!-- additional parameters is a dropdown menu -->
<h4>Additional Parameters</h4>
<form action="{% url "urlPara2" %}" method="post">{% csrf_token %}
{{ AddHTML|crispy }}
<input type="hidden" name = "username" value = "{{ user.get_username }}">
<input type="submit" class="btn btn-primary" value="Set">
</form>
</div>

</div>
</div>


<br><br><br>
<div class="page-header">
<h1>Running the program</h1>
</div>
<div class="container">
<div class="row">

<div class='col-lg-6 pull-left'>
<h3>Your parameters for the current run</h3><br>

    <h4>{{ PrintRunNum }}</h4>
    <h4>{{ PrintRunDate }}</h4>
    <h4>{{ PrintChosen }}</h4>
    <h4>{{ PrintEXPupload }}</h4>
    <h4>{{ PrintParaT }}</h4>
    <h4>{{ PrintParaU }}</h4>
    <h4>{{ PrintParaR }}</h4>
    <h4>{{ PrintRescutL }}</h4>
    <h4>{{ PrintRescutH }}</h4>
    <h4>{{ PrintLorR }}</h4>
    <h4>{{ PrintBfactor }}</h4>
    <h4>{{ PrintBfactorSolv }}</h4>
    <h4>{{ PrintBfactorSolvK }}</h4>
    <h4>{{ PrintqfhtK1 }}</h4>
    <h4>{{ PrintqfhtK2 }}</h4>
    <h4>{{ Printscscaling }}</h4>
    <h4>{{ PrintgridR }}</h4>
    <h4>{{ PrintgridZ}}</h4>
    <h4>{{ PrintgridPhi }}</h4>

</div>


<div class='col-sm-4 pull-right'>
<h3>Run</h3>
 <form id = "noRefresh" action= "{% url "urlTesting" %}" method="POST">{% csrf_token %}
      <button type="submit" class="btn btn-primary">Run</button>
 </form>
<br>
<br>


<form action= "{% url "urlReRun" %}" method="post" >{% csrf_token %}
   {{ ReRunHTML|crispy }}
   <input type="hidden" name = "username" value = "{{ user.get_username }}">
  <input type="submit" class="btn btn-primary" value="ReRun">
 </form>
<br>
<br>


<form id = "noRefresh" action= "{% url "urlEmailR" %}" method="POST">{% csrf_token %}
<button type="Submit" class = 'btn btn-success'>Email Results</button>
</form>
<br>
<br>
<form id = "noRefresh" action= "{% url "urlDownR" %}" method="POST">{% csrf_token %}
<button type="Submit" class = 'btn btn-success'>Download Results</button>
</form>
<br>
<br>
<form id = "noRefresh" action= "{% url "urlClear" %}" method="POST">{% csrf_token %}
<input type="submit" class="btn btn-warning" value="Clear">
</form>
</div>


</div>
 </div>

<br><br><br>
<div class="page-header">
<h1>Results</h1>
</div>
<!-- Keep Jmol code on its own-->
    {% include 'jmol.html' %}
<br>
<div class="container">
<div class="row">
<div class='col-sm-4 pull-right'>
<h3>Layer Lines Chi-square</h3>
    <h4>{{ PrintChi }}</h4>
</div>
</div>
</div>
{% endblock %}